<nav class="admin-nav">
  <ul>
    <li><a href="/admin">Inicio</a></li>
    <li><a href="/admin/projects">Proyectos</a></li>
    <li><a href="/admin/messages">Mensajes</a></li>
    <li><a href="/admin/projects/add">Agregar Proyecto</a></li>
    <li><a href="/logout">Cerrar Sesión</a></li>
  </ul>
</nav>
